* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fetchComp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.api-input {
  display: flex;
}

.api-info-display-block{
  display: flex;
  justify-content: center;
  width: 50rem;
  height: 45vh;
  border: solid 10px #ED1D24;
  border-radius: 15px;
}

